/*---------
Reset
---------*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/*---------
Debug
---------*/

.debug header{
    background-color: #add8e6;
    
    
}

.debug .header-top{
background-color: #daa502 ;
height: 50px;

}


.container{

    max-width: 1200px;
    margin:auto;
}


.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header{
    padding: 16px 0;
}

.debug .bottom-background{
    background-color: #00008b;
    height: 474px;
    padding: 50px; 
    

}

.rosa{
    display: flex;
    text-align: center;
}
.debug .rosa{
    max-width: 800px;
    height: 400px;
    background-color: #ee82ee;
    margin-left: 300px;
    margin-bottom: 40px;
    
}

.bottom-background{
    padding: 50px 0;
    margin: auto;
}

.container{
    display: flex;
    padding: 60px;
}

.section{
    padding: 20px 0;
}
section:nth-child(even) {
    background: lightgray;
  }

.debug .col-big{
    background-color: #1e90ff;
    height: 480px;
    
}
.debug .col-small{
    background-color: pink;
    height: 480px;
    
}

.debug .col-biggest{
    background-color: green;
    height: 480px;
}
.col-big{
    width:60%;
}

.col-small{
    width:40%;
}


.col-biggest{
    width: 100%;
}

.debug .footer-top{
    background-color: #23272A;

}


.debug .col-prima{
    background-color: #F08080;
    height: 500px;
    width: 20%
}
.debug .col-seconda{

    background-color: #20B2AA;
    height: 500px;
    width: calc(100% /4)
}

hr{
    background-color: lightgray;
    margin: 10px;
}

.debug .footer-bottom{
    background-color: #23272A;
    height: 120px;
    display: flex;
    justify-content: space-between;
    

}

.debug .footer-bottom{
    background-color: #7FFFD4;
height: 50px;
}

.debug .logo-footer{
    background-color:#F08080 ;
}

.logo-footer{
    
    background-color:#F08080 ;
}

.bottone-footer{
    background-color:#F08080 ;
}