/*---------
Reset
---------*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/*---------
Debug
---------*/

.debug header{
    background-color: #add8e6;
    
    
}

.debug .header-top{
background-color: #daa502 ;
height: 50px;

}

.container{

    max-width: 1200px;
    margin:auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.debug .bottom-background{
    background-color: #00008b;
    height: 474px;
    padding: 50px; 
    

}

.rosa{
    display: flex;
    text-align: center;
}
.debug .rosa{
    max-width: 800px;
    height: 400px;
    background-color: #ee82ee;
    margin-left: 300px;
    
}

